*{
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg,#ff758c,#ff7eb3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.card{
  background: white;
  width: 90%;
  max-width: 380px;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  animation: pop 1s ease;
  z-index: 2;
}

.photo{
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 15px;
  animation: fade 1.2s;
}

h1{
  font-size: 22px;
  min-height: 60px;
  color: #ff4d6d;
}

button{
  margin-top: 20px;
  padding: 12px 26px;
  border: none;
  border-radius: 30px;
  background: #ff4d6d;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  transform: scale(1.08);
  background: #ff1e56;
}

@keyframes pop{
  from{transform: scale(0.7);opacity:0;}
  to{transform: scale(1);opacity:1;}
}

@keyframes fade{
  from{opacity:0;}
  to{opacity:1;}
}

.hearts span{
  position: absolute;
  bottom: -20px;
  font-size: 20px;
  animation: float 6s linear infinite;
}

@keyframes float{
  from{transform: translateY(0);opacity:1;}
  to{transform: translateY(-100vh);opacity:0;}
}
